<h1>My Team's Achievements</h1>
<hr/>

<% if @achievements.any? %>
<ul class='list-group' style="text-align:center;">
  <% @achievements.each do |a| %>
    <div class="achievement">
      <li class='list-group-item active'><a href="#<%=a.id %>" class="btn btn-link" data-toggle="collapse" style="color:white;text-decoration:none;">
        <strong>
          <%= a.name %> | <%= a.headline %> | <%= a.date %>
        </strong>
      </a>
      </li>
      <br/>
      <div class="collapse" id=<%=a.id %>
        <li class='list-group-item'><%= a.description %></li>
         <div class="endorsements">
           <ul class="list-group" style="list-style-type: none;">
             <% a.endorsement.each do |e| %>
             <li><strong><%= e.name %></strong> | <%= e.created_at.to_formatted_s(:short) %></li>
             <li><%= e.comment %></li>
             <hr />
             <% end %>
           </ul>
          <%= bootstrap_form_for [a, @endorsement] do |f| %>
            <%= f.text_field :name%>
            <%= f.text_field :comment %>
            <%= f.submit "Endorse" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
</ul>
<% end %>
<% else %>
  <div> No one has added any achievements yet.</div>
<% end %>
