<h1>achievements#index</h1>
<p>Find me in app/views/achievements/index.html.erb</p>

<% @achievements.each do |a| %>
  <div class="achievement">
  <%= a.name %>
  <%= a.headline %>
  <%= a.date %>
  <div class="endorsements">
    <% a.endorsement.each do |e| %>
      <%= e.name %>
      <%= e.comment %>
      <%= e.created_at %>
    <% end %>
    <%= form_for [a, @endorsement] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name%>
      <%= f.label :comment %>
      <%= f.text_field :comment %>
      <%= f.submit "Endorse" %>
  </div>
  <% end %>
  </div>
<% end %>

<%= link_to 'Add Achievement', new_achievement_path %>
