<h1>My Team's Achievements</h1>
<hr/>

<ul class='list-group' style="text-align:center;">
  <% @achievements.each do |a| %>
    <div class="achievement">
      <li class='list-group-item active'><a href="#<%=a.id %>" class="btn btn-link" data-toggle="collapse" style="color:white;text-decoration:none;">
        <strong>
          <%= a.name %> | <%= a.headline %> | <%= a.date %>
        </strong>
      </a>
      </li>
      <br/>
      <div class="collapse" id=<%=a.id %>
        <li class='list-group-item'><%= a.description %></li>
      </div>
    </div>
    <br>
  <% end %>
